@font-face {
    font-family: jetbrains;
    src: url('Fonts/JetBrainsMono-Regular.woff2');
}

body{
    background-color: rgb(238, 144, 214);
    background-image: url('images/WallpaperDog-1807.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

button.back{
    width: 60px;
    height: 30px;
    border: 2px;
    background-color: rgb(39, 39, 39);
    font-family: jetbrains;
    font-size: 19px;
    color: #ff00ff;
    margin: 2.5px;
}

.headerbutton{
    width: 10vw;
    height: 5vh;
    border: 2px;
    background-color: rgb(39, 39, 39);
    font-family: jetbrains;
    font-size: 19px;
    color: #ff00ff;
    margin: 2.5px;
}

.headerbutton:hover{
    background-image:none;
    background-color:#ff00ff;
    color:rgb(39, 39, 39);
}

.kaiheadingmain{
    font-family: jetbrains;
    font-size: 3em;
    color: #ff00ff;
    margin: auto;
    /*position: absolute;
    left: 50px;
    top: 200px;
    */
}

.kaiheadingsec{
    font-family: jetbrains;
    color: #ff00ff;
}

.flex-container {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: baseline;
    background-color: rgb(10, 10, 10);
  }
  
  .flex-container > div {
    background-color: rgb(39, 39, 39);
    width: 100%;
    margin: 20%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  /*
  .flex-container > ul {
    background-color: rgb(39, 39, 39);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
*/
  .list-items {
      font-size: 4em;
  }

#headerbar {
    opacity: 0.7;
}